<h1>Faraday's RP Log Cleaner</h1>

The log cleaner takes raw log files (presumably captured by your favorite MU* client) and strips out junk such as pages, channels, OOC chatter, coming/going messages, and various other soft- and hard-coded command spam.  It also adds blank lines as necessary so everything is spaced out nicely.

<p>You can choose a log format, which tells the parser what things to keep and to ignore.  Available formats are:</p>

<ul>
    <li><strong>MUSH</strong> - Excludes MUSH-style channels. &lt;Public&gt; Faraday says, "Hello."  Covers PennMUSH and AresMUSH.
    <li><strong>MUX</strong> - Excludes MUX-style channels. [Public] Faraday says, "Hello."
    <li><strong>Ares FS3 Combat Wiki</strong> - FS3 combat logs for AresMUSH with pretty wikidot formatting.
    <li><strong>FS3 Combat</strong> - Handles logs with FS3 skill or combat messages, omitting spam while keeping important combat messages.
    <li><strong>FS3 Combat Wiki</strong> - Same as <i>FS3 Combat</i>, but also adds pretty wikidot formatting.
    <li><strong>TGG Battle </strong>- Handles battle logs from The Greatest Generation MUX, omitting spam while keeping important combat messages.
    <li><strong>TGG Battle Wiki</strong> - Same as <i>TG Battle</i>, but also adds pretty wikidot formatting.
</ul>

<p><font color="red">This tool has been well-tested, but there are no guarantees.  If you're worried, keep copies of your original log files.</font></p>

<h2>Wiki Formatting</h2>

<p>    If you're using the FS3 Combat Wiki format, you can either add a ".fs3combat" class to your wiki CSS, or add the following code at the beginning of the log:
    
    <blockquote>
[[module CSS]]
.fs3combat {
margin: 5%;
color: gray;
font-style: italic;
}
[[/module]]
</blockquote>

Tweak the CSS to format combat messages as you like them.   
<p>
    
<h2>Format a Log</h2>


<%= form_tag('parse',  multipart: true) do |f| %>
   <b>Select A Log To Parse</b>
   <%= file_field_tag "file" %>
   
   <br/>   <br/>

   <b>Select A Format</b>
   <%= select_tag "log_format", options_for_select(['MUSH', 'MUX', 'Ares FS3 Combat Wiki', 'FS3 Combat', 'FS3 Combat Wiki', 'TGG Battle', 'TGG Battle Wiki']) %>   
   
   <br/>
   <hr/>
   <%= submit_tag("Parse Log")%>
<% end %>

<br/><hr/><br/>

<p>
  <i>This software is copyright 2022 by Wordsmyth Creations LLC.</i>
</p>
<p>
  <a href="https://github.com/lynnfaraday/MULogCleaner">Terms of Use</a> | <a href="https://aresmush.com/privacy.html">Privacy Policy</a>
</p>
